*{
	margin: 0px;
	padding: 0px;
}
.Shobuj{
	width: 600px;
	height: 300px;
	background-color: green;
	margin: 100px auto 0px;
	overflow: hidden;
}
.Shobuj .Lal{
	width: 200px;
	height: 200px;
	background-color: red;
	border-radius: 50%;
	margin: 50px auto;
}
.Germany{
	width: 600px;
	height: 100px;
	background-color: red;
	margin: 50px auto;
	border-top: 100px solid black;
	border-bottom: 100px solid gold;
}
.Argentina{
	width: 600px;
	height: 100px;
	margin: 50px auto;
	border-top: 100px solid lightblue;
	border-bottom: 100px solid lightblue;
	text-align: center;

}
.Argentina img{
	width: 100px;
}
.Green{
	width: 600px;
	height: 300px;
	background-color: green;
	margin: 50px auto;
	position: relative;

}
.Green .Yellow{
	width: 200px;
	height: 200px;
	background-color: yellow;
	transform: rotate(45deg);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	
}
.Green .Yellow img{
	width: 150px;
	transform: rotate(-45deg);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}
